<!-- this is the page detail for avengers -->
{% extends "index.html" %}
{% block batman %}
detail 
{% endblock batman %}
{% block superman %}


<div class="container">
	<div class="card" style="width: 18rem;" align="center">
	  <h5 class="card-header">Name :{{avengers.name}} </h5>
	  

	  	{% if avengers.image %}
		<img class="card-img-top" style="width: 6rem;" src="{{avengers.image.url}}" alt="Card image cap">
		{% endif %}
	  <div class="card-body Coded">
	    <h5 class="card-title">Opening Time :{{avengers.opening_time}}</h5>
	    <p class="card-text">Released Date :{{avengers.release_date}} </p>
	    <p class="card-text">Business Add on  :{{avengers.platforms}} </p>
	   <p class="btn btn-primary">Multiplayer : {{avengers.multiplayer}}</p>
	  </div>
	</div>
</div>

	<br>

<a href="{% url 'hulk_hulk' %}" class="btn btn-secondary">BACK</a>
		</p>









{% endblock superman %}